body {
    margin: 0;
    padding: 0;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e291c0; 
  }
  
  .glowing-text {
    position: absolute;
    color: #cc599f; 
    font-size: 100px;
    animation: float 5s infinite ease-in-out alternate, glow 1s infinite alternate; 
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px #fff; 
    }
    50% {
      text-shadow: 0 0 70px #fff; 
    }
    100% {
      text-shadow: 0 0 10px #fff; 
    }
  }
  
  .glowing-text:nth-child(1) {
    top: 20%;
    left: 20%;
  }
  
  .glowing-text:nth-child(2) {
    top: 50%;
    left: 70%;
  }
  
  .glowing-text:nth-child(3) {
    top: 80%;
    left: 30%;
  }
  
  .glowing-text:nth-child(4) {
    top: 40%;
    left: 60%;
  }
  
  